.container-quiz {
  width: 100%;
  min-height: 75vh;
  padding: 24px;
  position: absolute;
  bottom: 0;
  border-radius: 32px 32px 0 0;
  background-color: var(--main-bg-color);
}
.Btn {
  margin: 16px 0;
  background-color: var(--secondary-bg-color);
}
.Quiz-facts {
  width: 100%;
  height: 25vh;
  display: grid;
  place-items: center;
}
.Quiz-facts h2 {
  color: var(--secondary-bg-color);
}
.answer-section .Btn:hover {
  box-shadow: 2px 5px 10px 0px #fff;
  background-color: #eb6084;
}
.score-section {
  transform: scale(1.2);
  transition: transform 1s;
}
.Quiz-facts img {
  width: 100px;
}