:root {
  --main-bg-color: #96c7c1;
  --secondary-bg-color: #ebc96b;
  --sure-bg-color: #ffffff;
  --dark-bg-color: #181725;
  --grey-dark: #7c7c7c;
  --grey-sure: #f4f5fa;
}

.Home-container {
  height: 65vh;
  padding: 24px;
  display: grid;
  place-items: center;
}
.form-control.input,
.form-select,
.btn-primary.Btn {
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  color: var(--sure-bg-color);
}
.form-control.input::placeholder {
  color: var(--sure-bg-color);
}
.btn-primary.Btn {
  width: 100%;
  margin: 32px 0;
  box-sizing: border-box;
  background-color: var(--sure-bg-color);
  color:var(--main-bg-color)
}
